.profile {
    background: #000000a3;
    color: white;
    display: grid;
    justify-content: space-around;
    font-family: 'Share Tech Mono', monospace;
    border: 1px solid white;
    padding: 15px;
}

#avatar {
    width: 162px;
    height: auto;
    grid-column: 1/2;
    grid-row: 1/5;
    background: #54545447;
    padding: 10px;
    margin-right: 14px;
}

#name {
    grid-column: 2/3;
    grid-row: 1/2;
    font-family: 'Roboto Mono', monospace;
    font-weight: bold;
}

.profile-stat-label {
    border-top: 1px solid white;
    padding-top: 3px;
}